.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    position: relative;
  }
  
  .level {
    height: 100%;
    transition: width 0.3s ease-in-out;
  }
  
  .green {
    background-color: green;
    width: 100%;
  }
  
  .yellow {
    background-color: yellow;
    width: 50%;
  }
  
  .red {
    background-color: red;
    width: 20%;
  }