<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gatos para tí!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cats</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let cat of cats">
    <ion-card-title>Raza: {{cat.name}}</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Origen: {{cat.origin}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Imágen: {{cat.reference_image_id}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>País de Origen: {{cat.origin}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nivel de inteligencia: {{cat.intelligence}}</ion-label>
      </ion-item>
      <ion-item>
        <div class="level" [ngClass]="{'green': cat.intelligence >4, 'yellow': cat.intelligence === 3, 'red': cat.intelligence <= 1 }"></div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
